# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @darren0718 @bird512
tvm/                            @jyiigpgf @darren0718
network/                        @lavrock @darren0718
